<footer class="waf-footer">
  <div class="waf-footer__inner">
    <div class="waf-footer__grid">

      <!-- Column 1 -->
      <div class="waf-footer__col">
        <div class="waf-footer__title">WAF++</div>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/blog/">Blog</a>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/about/">About</a>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/vision/">Vision</a>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/faq/">FAQ</a>
      </div>

      <!-- Column 2 -->
      <div class="waf-footer__col">
        <div class="waf-footer__title">Documentation</div>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/framework/">Framework</a>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/conferences/">Conferences</a>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/roadmap/">Roadmap</a>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/legal/">Legal</a>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/governance-community/">Governance &amp; Community</a>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/roles/">Roles</a>
      </div>

      <!-- Column 3 -->
      <div class="waf-footer__col">
        <div class="waf-footer__title">Links</div>
        <a class="waf-footer__link" href="https://github.com/waf2p" rel="noopener" target="_blank">GitHub</a>
        <a class="waf-footer__link" href="{{{relativize site.url}}}/rss.xml">RSS</a>
      </div>

      <!-- Brand / Logo block (right) -->
      <div class="waf-footer__brand">
        <div class="waf-footer__logoWrap">
          <img class="waf-footer__logo"
               src="{{{uiRootPath}}}/img/WAFpp_upscaled_1000.png"
               alt="WAF++" />
        </div>
        <div class="waf-footer__brandText">
          <div class="waf-footer__brandName">WAF++</div>
          <div class="waf-footer__brandTag">Open, traceable, foundation-ready</div>
        </div>
      </div>

    </div>

    <div class="waf-footer__bottom">
      <div class="waf-footer__small">
        © {{year}} WAF++ — Powered by Antora &amp; GitHub Pages
      </div>
    </div>
  </div>
</footer>